.all {
    /* background-image: url("../../../../img/add_bk.jpg"); */
    // width: 100vw;
    // height: 100vh;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    background-color: #f4f7f6
  }
  
  input{
    width: 100% !important;
  }
  .container {
    align-items:center;
    background-color: white;
    padding:40px;
    border-radius:10px;
    z-index: 999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

  .imgInputLabel {
    width: 200px;
    margin: auto;
    display: block;
    cursor: pointer;
    background-position: center;
    border-radius: 300px;
  }
  .inputFields {
    width: 50vw;
    border: 1px solid grey;
    padding: 2%;
    font-size:15px;
    border-radius: 30px;
  }
  
  .label {
    color: #a3d6ed;
    font-weight: bold;
    font-size:13px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .btn {
    width: 40%;
    margin: auto;
    background-color:#57a5c9;
    color: antiquewhite;
    border:none;
    font-size:15px;
    padding:10px;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .hand{
    cursor:pointer;
    text-align:center;
  }
  .btnContainer {
    width: 100%;
    display:flex;
    align-items: center;
    flex-direction:column
  }
  
  .heading {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    font-weight:bold;
    color:#bc57c9
  }
  


